body {
  background-color: #A9DEF9;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 10em;
  color: black;
}

.game-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-bottom: 3em;

}

.squares {
  width: 0.25em;
  height: 0.25em;
  margin-top: 5em;
  border: 1px solid black;
  padding: 1.5em;
  font-size: 0.1em;
  background-color: #BEBEBE;
  color: #2E6171;
  font-weight: bold;
  box-shadow: 3px 3px #7F7F7F;


}

.rows {
  height: 1em;
}

.game-board {
  border: 5px solid black;
}

.playing-message {
  margin: 0.1em;
 
}

.difficulty-level {
display: flex;
}

.reset-button {
  margin: 1em;
  font-size: 1.5em;
}

.blue-num {
  color: blue;
  font-size: 2em;
}

.green-num {
  color: green;
  font-size: 2em;
}

.red-num {
  color: red;
  font-size: 2em;
}

.purple-num {
  color: purple;
  font-size: 2em;
}

.black-num {
  color: black;
  font-size: 2em;
}

.maroon-num {
  color: maroon;
  font-size: 2em;
}

.gray-num {
  color: gray;
  font-size: 2em;
}

.turquoise-num {
  color: turquoise;
  font-size: 2em;
}

.blank-square {
  background-color: antiquewhite;
}


.flag >span {
  font-size: 2.5em;
}

.difficulty-level button {
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 5px;
}