.App {
  text-align: center;
  height: 10em;
}

.game-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.squares {
  margin-top: 5em;
  border: 1px solid black;
  padding: 2em;
  font-size: 0.5em;

}

.rows {
  height: 3em;
}

.game-board {
  margin-top: 3em;
}

.youLose {
  position: absolute;
  top: 10em;
  left: 12.5em;
  display: none;
}


.youWin {
  position: absolute;
  top: 10em;
  left: 12.5em;
  display: none;
}